%footer.main-footer
  %strong
    Copyright © #{Date.current.year}
    = succeed "." do
      = link_to @context.company.name, @context.company.url
  All rights reserved.
  .float-right.d-none.d-sm-inline-block
    .text-small
      Powered by
      = link_to '5&2 Northwest', 'https://www.5and2northwest.com'
      %b Olivander v#{Olivander::VERSION}
