!!!
%html
  = render partial: 'layouts/olivander/adminlte/head'
  - sidebar_collapse = cookies['lte.pushmenu.collapsed'] == 'true' ? 'sidebar-collapse' : ''
  - layout_class = Olivander::CurrentContext.application_context.layout_class
  %body{ class: [layout_class, sidebar_collapse].join(' ') }
    .wrapper
      / Preloader
      -# .preloader.flex-column.justify-content-center.align-items-center
      -#   %img.animation__shake{:alt => "FFES Logo", :height => "60", :src => image_path("logo.gif")}
      = render partial: 'layouts/olivander/adminlte/navbar'
      - if Olivander::CurrentContext.application_context.sidebar?
        = render partial: 'layouts/olivander/adminlte/sidebar'
      -# = render partial: 'layouts/olivander/adminlte/content'
      = render partial: @content_partial || 'layouts/olivander/adminlte/content', locals: { content: yield }
      = turbo_frame_tag 'modal'
      = render partial: 'layouts/olivander/adminlte/flashes'
      = render partial: 'layouts/olivander/adminlte/footer'
      = render partial: 'layouts/olivander/adminlte/control_sidebar'
    = render_optional_partial 'layouts/olivander/adminlte/body_after'
    = content_for :javascript