- if @turbo_frame.present?
  <turbo-frame id="#{@turbo_frame}" src="#{@src}" loading="#{@loading}">

.card{ class: @background }
  .card-header{ class: @header_background }
    %h3.card-title= @title
  .card-body
    = content
  .card-footer
  - if @src.present?
    .overlay.dark
      %i.fas.fa-sync-alt.fa-spin.fa-lg

- if @turbo_frame.present?
  </turbo-frame>
