- @resource.class.resource_field_groups.select{ |x| x.editable }.each do |rfg|
  %h3= resource_field_group_label(@resource.class, rfg.key) unless rfg.key == :default
  - rfg.sections.each do |section|
    .row
      - section.fields.each do |field|
        %div{ class: section.column_class }
          - case field.type
          - when :association
            = @f.association field.sym, disabled: !field.editable, input_html: { data: { controller: "input-control-#{field.type}" } }
          - when :boolean 
            = @f.input field.sym, disabled: !field.editable, as: field.type.to_sym, input_html: { data: { controller: "input-control-#{field.type}" } }, wrapper: :checkbox
          - else 
            = @f.input field.sym, disabled: !field.editable, as: field.type.to_sym, input_html: { data: { controller: "input-control-#{field.type}" } }
