- if @turbo_frame.present?
  <turbo-frame id="#{@turbo_frame}" src="#{@src}" loading="#{@loading}">
.small-box{ class: @background }
  .inner
    %h3= @primary_text
    %p= @secondary_text
  - if @icon.present?
    .icon
      %i{ class: @icon }
  - if @more_link.present?
    %a.small-box-footer{ href: @more_link }
      = @more_text
      %i{ class: @more_icon }
  - if @turbo_frame.present?
    .overlay.dark
- if @turbo_frame.present?
  </turbo-frame>