- if @turbo_frame.present?
  %turbo-frame{ id: @turbo_frame, colin: 'ferrel', data: @turbo_frame_data }/

.card{ class: @card_type, data: @card_data }
  .card-header{ class: @header_background }
    %h3.card-title= @title
    .card-tools
      - if header_tools?
        = header_tools
      -# %button.btn.btn-tool{ type: :button, 'data-card-widget': :collapse }
      -#   %i.fas.fa-minus
      -# %button.btn.btn-tool{ type: :button, 'data-card-widget': :maximize }
      -#   %i.fas.fa-expand
  .card-body{ class: @background }
    - if @collection&.size&.positive?
      %div{style: @max_height.present? ? "max-height: #{@max_height}; overflow-y: auto; overflow-x: hidden" : ""}
        = render Olivander::Components::TablePortletComponent::TableComponent.with_collection(@collection, builder: @builder, headers: @headers)
    - else
      No #{@title.downcase} to display.
  - if footer_buttons?
    .card-footer.text-right
      = footer_buttons

- if @turbo_frame.present?
  </turbo-frame>
