- resource = (@_effective_resource || Effective::Resource.new(controller_path))
- @resource = instance_variable_get('@' + resource.name) if resource.name

= render_optional_partial 'show_before'

- if @resource
  .row
    .col-12
      .card.card-primary
        .card-header
          %h3.card-title= @resource.to_s
          .card-tools
            = resource_form_actions(@resource, for_action: action_name.to_sym)
        .card-body
          = render_optional_partial 'show_inside_before'
          = render Olivander::Components::ResourceShowComponent.new(@resource, [])
          = render_optional_partial 'show_inside_after'
        .card-footer.text-right
          = link_to 'Cancel', @_effective_resource.action_path(:index), class: 'btn btn-secondary'

= render_optional_partial 'show_after'
